<style>
.dbuttons{
  display: flex;
  flex-direction: column;
}
.dbuttons .hm{    background-image: url("renderpix/DHM.png");  }
.dbuttons .hl{    background-image: url("renderpix/DHL.png");  }
.dbuttons .ml{    background-image: url("renderpix/DML.png");  }

.dbuttons .t{
  width:75px;
  height:75px;
  background-color: transparent;
  border-style: none;
}
.dbuttons .t:focus{
    outline: none;
}
.dbuttons .t.active{
    background-position: 75px;
}
</style>
<div id="buttons" class="dbuttons">
    <img class='t' src="renderpix/def_icon.png" />
    <button name="2" class='t hm active' value="Login / Register" name="loginButton"/>
    <button name="1" class='t hl' value="Login / Register" name="loginButton"/>
    <button name="0" class='t ml' value="Login / Register" name="loginButton"/>
</div>
