<style>
.hbuttons{
  display: flex;
  flex-direction: column;
}
.hbuttons .h{    background-image: url("renderpix/H.png");  }
.hbuttons .m{    background-image: url("renderpix/M.png");  }
.hbuttons .l{    background-image: url("renderpix/L.png");  }

.hbuttons .t{
  width:75px;
  height:75px;
  background-color: transparent;
  border-style: none;
}
.hbuttons .t:focus{
    outline: none;
}
.hbuttons .t.active{
    background-position: 75px;
}
</style>
<div id="buttons" class="hbuttons">
    <img class='t' src="renderpix/hit_icon.png" />
    <button name="0" class='t h active' value="Login / Register" name="loginButton"/>
    <button name="1" class='t m' value="Login / Register" name="loginButton"/>
    <button name="2" class='t l' value="Login / Register" name="loginButton"/>
</div>
