<div class="login">
    <input type="text" placeholder="Usuario" id="username" name="username" autocomplete="off">
    <input type="password" placeholder="password" id="password" name="password">
    <!--<a href="#" class="forgot">forgot password?</a>-->
    <input type="submit" value="Login / Register" name="loginButton">
</div>
<div class="shadow"></div>
