<style>
.pstats{
  display: flex;
  flex-direction: column;
}
</style>
<div  class="pstats">
    <div><div id="username">username</div></div>
    <div>life <span id="life">100</span></div>
    <div>rank <span id="rank">100</span></div>         
</div>
